{{#each shoppingCart.records as |record|}}
  {{record.title}} -- {{record.price}}
  <button {{action 'removeFromCart' record}}>Remove from Cart</button>
{{/each}}
<button {{action 'emptyCart' record}}>Empty Cart</button>
