$orange: #E5781D;
$teal: #768d62;

body {
  background: url("/assets/images/bg.gif");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: $orange;
  font-family: 'Poiret One', cursive;
}

h4 {
  color: $teal;
  font-family: 'Poiret One', cursive;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
}

.btn {
  background: rgba(255, 255, 255, 0.6);
  color: #E5781D;
  border: 2px solid #E5781D;
  height: 40px;
}
