<div class="window">
  <div class="banner">
    <h1>Records</h1>
  </div>
  {{nav-bar}}

  <div class="container">
    {{outlet}}
  </div>
  <div class="buffer">

  </div>
</div>
<footer>
  <p>© Tyler Suderman & Trevor Elvey 2016</p>
</footer>
